:


# no names otherwise grep will not work 
# no ipv6 otherwise grep will not work 

# REFCLOCK is the IP address which will be taken if ntpd will start 
# this stratum-1 server can only be as acurate as the reference 
REFCLOCK=192.168.241.10

# This is own 1PPS source 
# For 127.127.22.1 you have to have /dev/pps1 availble 
PPSCLOCK=127.127.22.1


